	body{ 
    background: url(images/bg.jpg); 
    background-size: cover;
  	color: white;
    font-family: "Lato", sans-serif;
    background-repeat: no-repeat;
  } 
.nav.navbar-nav.navbar-right li a {
    color: white;
}
.nav.navbar-nav.navbar-right li a:visited {
   background-color : transparent;
   color: none;
}
.nav.navbar-nav.navbar-right li a:hover {
   background-color : transparent;
   color: #999999;
}
.nav.navbar-nav.navbar-right li a:active {
   background-color : transparent;
  color: black; 
}
a > .fa {
  padding-right: 10px;
  padding-left: 10px;
  font-size: 30px;
   color:white;
}
img{
  margin-top: 10%;
}
  